{% extends 'layouts/base.html' %}
{% load static %}

{% block body %}sidebar-mini  full-screen-map{% endblock body %}

{% block content %}

  <div id="map"></div>

{% endblock content %}

{% block extra_js %}

  <!--  Google Maps Plugin    -->
  <!-- Place this tag in your head or just before your close body tag. -->
  <script src="https://maps.googleapis.com/maps/api/js?key=YOUR_KEY_HERE"></script>

  <script>
    $(document).ready(function() {
      // Javascript method's body can be found in assets/js/demos.js
      demo.initGoogleMaps();
    });
  </script>

{% endblock extra_js %}