{% extends 'layouts/base.html' %}
{% load static %}

{% block content %}

  <div class="content">
    <div class="row">
      <div class="col-md-12">
        <div class="card card-plain">
          <div class="card-header">
            <h4 class='card-title'>Satellite Map</h4>
          </div>
          <div class="card-body">
            <div id="satelliteMap" class="map"></div>
          </div>
        </div>
      </div>
      <div class="col-md-6">
        <div class="card card-plain">
          <div class="card-header">
            <h4 class='card-title'>Regular Map</h4>
          </div>
          <div class="card-body">
            <div id="regularMap" class="map"></div>
          </div>
        </div>
      </div>
      <div class="col-md-6">
        <div class="card card-plain">
          <div class="card-header">
            <h4 class='card-title'>Custom Skin & Settings Map</h4>
          </div>
          <div class="card-body">
            <div id="customSkinMap" class="map"></div>
          </div>
        </div>
      </div>
    </div>
    {% include 'includes/footer.html' %}
  </div>

{% endblock content %}

{% block extra_js %}

  <!--  Google Maps Plugin    -->
  <!-- Place this tag in your head or just before your close body tag. -->
  <script src="https://maps.googleapis.com/maps/api/js?key=YOUR_KEY_HERE"></script>

  <script>
    $(document).ready(function() {
      demo.initSmallGoogleMaps();
    });
  </script>

  {% endblock extra_js %}