{% load static %}
<div class="modal fade bd-example-modal-sm" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
      <div class="modal-content">
        <div class="col-3 ml-auto mr-auto"></div>
        <div class="col-md-6 ml-auto mr-auto text-center">
            <form method="post" class="form">
              {% csrf_token %}

              <div class="card card-register card-white">
                <div class="card-header">
                    <h1>Register</h1>
                </div>
                  <div class="card-body">
                    <div class="input-group">
                      <div class="input-group-prepend">
                        <div class="input-group-text">
                          <i class="tim-icons icon-single-02"></i>
                        </div>
                      </div>
                      {{ form.username }}
                    </div>
                    <span class="text-danger">{{ form.username.errors }}</span>
                    <div class="input-group">
                      <div class="input-group-prepend">
                        <div class="input-group-text">
                          <i class="tim-icons icon-email-85"></i>
                        </div>
                      </div>
                      {{ form.email }}
                    </div>
                    <span class="text-danger">{{ form.email.errors }}</span>
                    <div class="input-group">
                      <div class="input-group-prepend">
                        <div class="input-group-text">
                          <i class="tim-icons icon-lock-circle"></i>
                        </div>
                      </div>
                      {{ form.password1 }}
                    </div>
                    <span class="text-danger">{{ form.password1.errors }}</span>
                    <div class="input-group">
                      <div class="input-group-prepend">
                        <div class="input-group-text">
                          <i class="tim-icons icon-lock-circle"></i>
                        </div>
                      </div>
                      {{ form.password2 }}
                    </div>
                    <span class="text-danger">{{ form.password2.errors }}</span>
                    <div class="form-check text-left">
                      <label class="form-check-label">
                        <input class="form-check-input" type="checkbox">
                        <span class="form-check-sign"></span>
                        I agree to the
                        <a href="javascript:void(0)">terms and conditions</a>.
                      </label>
                    </div>
                  </div>
                <div class="card-footer">
                  <button type="submit" class="btn btn-primary btn-round btn-lg">Get Started</button>
                </div>
              </div>
            </form>
          </div>
          <div class="col-3 ml-auto mr-auto"></div>
      </div>
    </div>
  </div>
